.piepagina-contenedor{
    width: 86%;
    margin: 25px;
    margin-top: 45px;
    margin-left: 7%;
    padding: 30px;
    border: 1px solid #000000;
    text-align: center;
    background-color: rgb(170, 59, 165);
color:rgb(37, 8, 37);
box-shadow: -12px -12px 12px #633ba3;

}

.piepagina-contenedor h1:hover{
    font-size: 50px;
    color:crimson;

}